<app-page-header [pageHeader]='pageHeader' [pageDescription]='pageDescription' [pageIcon]='pageIcon'>
</app-page-header>


<form #updateCustomerForm='ngForm' (ngSubmit)='onsubmit(updateCustomerForm)' novalidate='novalidate' autocomplete="off">
  First name:<br>
  <input type="text" name="name" ngModel required minlength="4" #fnf="ngModel">
  <br>
  <span style="color:red" *ngIf='fnf.invalid && fnf.touched'>min of 4 chars</span>
  <br>

  Email:<br>
  <input type="text" name="email" ngModel required minlength="4" #ema="ngModel">
  <span style="color:red" *ngIf='ema.invalid && ema.touched'>min of 4 chars</span>
  <br><br>
  Address:<br>
  <input type="text" name="address" ngModel minlength="4" #addr="ngModel" required>
  <span style="color:red" *ngIf='addr.invalid && addr.touched'>min of 4 chars</span>
  <br><br>



  <input [disabled]="!updateCustomerForm.form.valid" type="submit" name="submit" value="Submit" class="btn btn-primary">


</form>
