<app-page-header [pageHeader]='pageHeader' [pageDescription]='pageDescription' [pageIcon]='pageIcon'>
</app-page-header>
<!-- https://www.50webs.com/ free web hosting -->
<!-- <input type="text" #foo (keyup)='test($event)'> -->
<!-- https://console.firebase.google.com/u/1/project/crm-katy/database/crm-katy/data -->

<form #addCustomerForm='ngForm' (ngSubmit)='onsubmit(addCustomerForm)' novalidate='novalidate' autocomplete="off">
  First name:<br>
  <input type="text" name="name" ngModel required minlength="4" #fnf="ngModel">

  <span style="color:red" *ngIf='fnf.invalid && fnf.touched'>min of 4 chars</span>
  <br>

  Email:<br>
  <input type="text" name="email" ngModel required minlength="4" #ema="ngModel">
  <span style="color:red" *ngIf='ema.invalid && ema.touched' email>min of 4 chars</span>
  <br><br>
  Address:<br>
  <input type="text" name="address" ngModel minlength="4" #addr="ngModel" required>
  <span style="color:red" *ngIf='addr.invalid && addr.touched'>min of 4 chars</span>
  <br><br>



  <input [disabled]="!addCustomerForm.form.valid" type="submit" name="submit" value="Submit" class="btn btn-primary">


</form>

<!-- <input type="text" [(ngModel)]= -->

<!-- <div class="row">
      <ul>
<li *ngFor='let customer of customers'>

    <span >
        {{customer.name}}
    </span>
</li>
        </ul>
  </div> -->
